# Data
eyes data/
**/*.png

# System/IDE
__pycache__/
*.pyc
.git/
.gitignore
.DS_Store
*.pkl
!eye_state_model.pkl

# Build
# Dockerfile and requirements.txt should NOT be ignored as they are needed for the build
